*{
    margin:0;
}

.over{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}

.shape{
    height:140px;
    width:100px;
    background-color:skyblue;
    border-radius:20px;
}