*{
    margin:0;
}

.over{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}

.shape{
    height:250px;
    width:250px;
    background-color:skyblue;
    border-radius:125px;
    z-index:100;
}

.cover{
    background-color:rgba(20,20,20,0.3);
    height:100vh;
    width:100vw;
    position:fixed;
    z-index:100;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:3.5vh;
    color:white;
    font-family: 'Kosugi', sans-serif;
    z-index:1000;
}